.css{
    background-color: aqua!important;
    color: black!important;
}
.html{
    background-color: orange!important;
}
.js{
    background-color: yellow!important;
    color: black!important;
}
.php{
    background-color: blue!important;
}